[
  {example, []},
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_logstash_backend, [
        {level, debug},
        {host, "localhost"},
        {port, 9125},
        {fields, [
          {application, <<"erlang-lager-logstash-udp/1.0">>}
        ]}
      ]}
    ]}
  ]}
].
